* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* intestazione */
header img {
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

header div {
    padding: 20px;
}

/* end intestazione */