/* generics */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #f6f8f9;
}

/* intestazione */

header img {
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

header div {
    padding: 20px;
    background-color: white;
}

/* end intestazione */

main {
    max-width: 1190px;
    padding-top: 10px;
}

/* menu selezione */

nav input {
    background-color: #47adf1;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    border-radius: 7px;
    width: 85px;
    border-style: none;
}

/* end menu selezione */

/* corpo centrale */

.contenitore {
    width: 800px;
    margin: 30px auto 5px auto;
    background-color: white;
}

.formattazione-corpocentrale {
    padding: 15px 70px 15px;
}

.formattazione-section {
    line-height: 240%;
    padding: 10px;
    font-family: sans-serif;
}

ul {
    list-style: none;
}

li span {
    background-color: #9c73e4;
    border-radius: 11px;
    padding: 5px;
    text-align: center;
}

.different-tag {
    background-color: #2cc327;
    border-radius: 11px;
    padding: 5px;
}

.check {
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-color: #2cc327;
    padding: 2px 5px;
    color: #2cc327;
    text-align: center;
}

.cross {
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-color: #be1616;
    padding: 2px 5px;
    color: #be1616;
    text-align: center;
}