* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


/* intestazione */

header img {
    vertical-align: middle;
}

header h1 {
    display: inline-block;
    vertical-align: middle;
}

header div {
    padding: 20px;
}

/* end intestazione */

/* menu selezione */

nav input {
    background-color: #47adf1;
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
    border-radius: 7px;
    width: 85px;
    border-style: none;
}

/* end menu selezione */